@use '../../../../styles/constants';
:host {
  display: block;
  height: 100vh;
  width: 100vw;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  &__header {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    height: constants.$header-height;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
  }
  &__brand {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    &-logo {
      max-height: 40px;
      margin-right: 10px;
    }
  }
  &__admin-link {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    &:hover {
      color: var(--mat-sys-primary);
    }
  }

  &__content {
    &.with-cart {
      padding-bottom: calc(constants.$bottom-nav-height + constants.$button-container-height);
    }
  }
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: constants.$bottom-nav-height;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    mat-icon {
      font-size: 24px;
    }

    span {
      font-size: 12px;
    }
    &:hover,
    &.active-link {
      color: var(--mat-sys-primary);
    }
  }
}
