$header-height: 60px;
$bottom-nav-height: 80px;
$bottom-padding-height: 110px;
$summary-footer-height: 80px;
$drawer-transition:
  transform 0.3s ease-out,
  opacity 0.3s ease-out;
$button-container-height: 40px;
$admin-footer-height: 64px;
