@use '../../../../styles/constants';

.cart-detail {
  position: fixed;
  bottom: constants.$bottom-nav-height;
  left: 0;
  z-index: 99;
  width: 100%;
  max-height: 80vh;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  transform: translateY(calc(100% - #{constants.$button-container-height}));
  transition: constants.$drawer-transition;

  &__toggle {
    height: constants.$button-container-height;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .arrow-button {
      width: 100%;
    }
  }
  &.open {
    transform: translateY(0);
  }

  &__contents {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid gray;
    flex-shrink: 0;

    &-title {
      margin: 0;
      font-size: 1.1rem;
      font-weight: 500;
    }
  }

  &__items {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 1.5rem;
    list-style: none;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;

    &-info {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    &-name {
      font-size: 1.2rem;
      font-weight: 500;
    }
    &-price {
      color: gray;
      font-size: 1rem;
    }

    &-controls {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    &-control {
      display: flex;
      align-items: center;
      border: 1px solid #ddd;
      border-radius: 20px;
    }
    &-quantity {
      min-width: 24px;
      text-align: center;
      font-weight: 500;
      font-size: 1.1rem;
    }
  }
}
