.product-list {
  padding: 2rem;
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    cursor: pointer;
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  &__price {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: right;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
}

@media (max-width: 600px) {
  .product-list {
    padding: 1rem;
    &__grid {
      gap: 0.5rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
