@use '../../../../styles/constants';

.cart-status {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: constants.$summary-footer-height;
  background-color: var(--mat-sys-primary);
  color: white;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  box-sizing: border-box;

  &__info {
    display: flex;
    align-items: center;
  }
  &__icon {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  &__price {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__button {
    padding: 0.75rem 2rem;
    font-size: 1.1rem;
  }
}
